/*DETAIL-MOVIES.HTML*/

.cajadetailmovie{
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: space-between;
}

.movies{
    width: 50%;
    text-align: center;
    justify-content: space-around;
    color: white;
    border-right: 2px solid black;
    font-size: 30px;
    padding: 20px;
}

a{
    color: white;
}



/*MEDIA QUERIES*/
@media(max-width: 768px){
    .imagenrocky{
        width:100%;
    }

    .movies{
        width:100%;
        border: 2px solid black; 
    }
    
}



