/*DETAIL-SERIES.HTML*/

*{
    box-sizing: border-box;
}
.cajaSeries{
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: space-between;
}

.descripcionSerie{
    width: 50%;
    text-align: center;
    justify-content: space-around;
    color: white;
    border-right: 2px solid black;
    font-size: 3opx;
    padding: 20px;
}

.fotoPortada img{
    width: 60%;
    margin-left: 15px;
    margin-bottom: 15px;
}
a{
    text-decoration: none;
    color: white;
}

/*MEDIA QUERIES*/

