/*DETAIL-SERIES.HTML*/

*{
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    
}
.cajaSeries{
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: space-between;
}

.descripcionSerie{
    width: 50%;
    text-align: center;
    justify-content: space-around;
    border-left: 2px solid black;
    font-size: 20px;
    padding: 20px;
}

.fotoPortada img{
    width: 60%;
    display: block;
    margin: auto;
    padding-bottom: 30px;
}

/*MEDIA QUERIES*/

@media (max-width: 420px ){
    .cajaSeries{
        width: 150%;
    } 

    .descripcionSerie{
        margin-left: 50px;
        width: 50%;
        text-align: center;
        justify-content: space-around;
        color: white;
        font-size: 3opx;
        padding: 20px;
        border-right: none;
    }
}

        