*{
    box-sizing: border-box;
}

.cajaPadre{
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.listadoPeliculas img{
    width: 250px;
    height: 350px;
    justify-content: space-around;
}

